IF EXISTS (SELECT name FROM master.dbo.sysdatabases WHERE name = N'GP_InboxOutbox')
	DROP DATABASE [GP_InboxOutbox]
GO

CREATE DATABASE [GP_InboxOutbox]  


/*
ON (NAME = N'GP_InboxOutbox_Data', 
FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL\Data\GP_InboxOutbox_Data.MDF' , 
SIZE = 1, FILEGROWTH = 10%) LOG ON (NAME = N'GP_InboxOutbox_Log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL\Data\GP_InboxOutbox_Log.LDF' , 
SIZE = 1, FILEGROWTH = 10%)
 COLLATE SQL_Latin1_General_CP1_CI_AS
GO
*/


use [GP_InboxOutbox]
GO


if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[tbl_Outbox]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[tbl_Outbox]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[tbl_inbox]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[tbl_inbox]
GO


CREATE TABLE [dbo].[tbl_Outbox] (
	[OUT_MSG_ID] [bigint] IDENTITY (1, 1) NOT NULL ,
	[MOBILENO] [bigint] NOT NULL ,
	[IN_MSG_ID] [bigint] NULL ,
	[BODY] [nvarchar] (320) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[STATUS] [bit] NOT NULL ,
	[MSG_TYPE] [int] NOT NULL ,
	[SEND_PORT] [int] NOT NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[tbl_inbox] (
	[IN_MSG_ID] [bigint] NOT NULL ,
	[MOBILENO] [bigint] NOT NULL ,
	[BODY] [nvarchar] (320) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[STATUS] [bit] NOT NULL ,
	[INSERT_TIME] [datetime] NOT NULL ,
	[ORIGIN_PORT] [int] NOT NULL 
) ON [PRIMARY]
GO


ALTER TABLE [dbo].[tbl_Outbox] WITH NOCHECK ADD 
	CONSTRAINT [PK_tbl_Outbox] PRIMARY KEY  CLUSTERED 
	(
		[OUT_MSG_ID]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[tbl_inbox] WITH NOCHECK ADD 
	CONSTRAINT [PK_tbl_inbox] PRIMARY KEY  CLUSTERED 
	(
		[IN_MSG_ID]
	)  ON [PRIMARY] 
GO



CREATE  INDEX [Status_Index] ON [dbo].[tbl_Outbox]([STATUS]) ON [PRIMARY]
GO

CREATE  INDEX [Status_Index] ON [dbo].[tbl_inbox]([STATUS]) ON [PRIMARY]
GO

