<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="RMS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="RMS.Properties.Settings.RMSDBConnectionString" connectionString="Data Source=IBACS-14;Initial Catalog=RMSDB;User ID=sa" providerName="System.Data.SqlClient"/>
        <add name="RMS.Properties.Settings.RMSDBConnectionString1" connectionString="Data Source=IBACS-15;Initial Catalog=RMSDB;User ID=sa" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <userSettings>
        <RMS.Properties.Settings>
            <setting name="PortName" serializeAs="String">
                <value>115200</value>
            </setting>
            <setting name="BaudRate" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DataBits" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="Parity" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="StopBits" serializeAs="String">
                <value>None</value>
            </setting>
        </RMS.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
